@page "{slug?}"
@model EZWiki.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Article.Topic</h1>
<h6>Last Published: <span class="timestamp" data-value="@Model.Article.Published"></span></h6>


<markdown>@Model.Article.Content</markdown>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Article.Id">Edit</a>
    @if (Model.Article.Slug != "home")
    {
        <text>| </text> <a href="~/">Back to Home</a>
    }
</div>