@page
@model EZWiki.Pages.RecentlyUpdatedModel

@{
    ViewData["Title"] = "RecentlyUpdated";
}

<h1>RecentlyUpdated</h1>

@foreach (var item in Model.Article) {

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title"> <a href="~/@item.Topic">@item.Topic</a></h5>
            <h6 class="card-subtitle mb-2 text-muted"><span class="timestamp" data-value="@item.Published"></span></h6>
            <a asp-page="./Edit" asp-route-id="@item.Topic">Edit</a> |
            <a asp-page="./Delete" asp-route-id="@item.Topic">Delete</a>
        </div>
    </div>
}
